* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body { 
  background-color: rgb(226,172,126);
  font-family: Arial;
  line-height: 1.1em;
}

h1 { text-align: center; border-bottom: 3px dashed black; padding-bottom: 10px;}
ul { text-align: center; list-style: none; line-height: 1.5em;}
li:first-letter { font-size: 20px; font-family: Arial, sans-serif;}
.copyright { font-size: 10px; text-align: center;}
#wrap {
  width: 760px;
  margin: 20px auto;
  border: 3px dashed black;
  padding: 0px 5px;
  background-color: rgb(245,245,219);
}
