*  { 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: Arial;
}

#header {
    overflow: auto;
}
#header blockquote {
    float: right;
    font-size: 32px;
    margin-right: 10%;
}

#logo {
    float: left;
}

#content-side {
    float: left;
}

#content-main {
    float: right;
    max-width: 800px;
}