*  { 
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: rgb(84,112,74);
    font-family: Arial;
}

#wrap { 
    position: relative;
    width: 760px;
    margin: 0px auto;
    background-color: rgb(181,182,125);
}

#header { 
    text-align: right; 
    padding: 1px 50px 1px 1px;
}

#nav {
    background-color: rgb(104,157,89);
    border-bottom: 3px dashed white;
    font-size: 18px;
    padding: 5px 0px;
}

#nav a {
    text-decoration:none;
}

#nav ul {
    padding-left: 0px;
    margin: 0px auto;
}

#nav li { 
    list-style: none; 
    display: inline;
    margin: 0px 1em;
}

#sidebar {
    position: absolute;
    right: 0px;
    width: 25%;
    height: 100%;
}

#content {
    clear: left;
    padding: 3px;
    margin-right: 25%;
    padding-top: 1px;
    background-color: rgb(115,143,105);
}

#content ul{
    list-style: none;
    text-align: center;
    font-size: 18px;
}

a:link {
    color: blue;
}

a:visited {
    color: purple;
    text-decoration:none;
}